.button-danger{
	background: #DC3545 !important;
	color: #fff !important;
	border: none !important;
	margin-left: 5px!important;
}
table.table.table-sm.bg-transparent {
    --bs-table-bg: transparent !important;
    --bs-table-border-color: #000 !important;
}